.lista-filmes {
  max-width: 800px;
  margin: 14px auto;
}

.loading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  margin-top: 50px;
}

.feedback-message {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000;
  margin: 32px auto;
}

.lista-filmes article {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
}

.lista-filmes strong {
  margin-bottom: 14px;
  text-align: center;
  font-size: 22px;
  display: block;
  color: #000;
}

.lista-filmes article img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
    background-color: #020f2e;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
