@import "./styles/header.css";
@import "./styles/home.css";
@import "./styles/filme-info.css";
@import "./styles/favoritos.css";
@import "./styles/erro.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  flex-direction: column;
}
